html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  body {
    background-color: #efeeee;
    color: #333;
    line-height: 1.6;
  }
  #contenu {
    position: relative;
    top: 250px;
    z-index: 1;
  }
/*en tête*/
header {
  margin-bottom: 200px;
  text-align: center;
  border-radius: 0 0 20px 20px;
  position:fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
  background-image: url(img/im1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s;
}
header:hover {
  transform: translatey(-10px);
}
header figure img {
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
}
header figure {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 5px;
  top: 10px;
}
/*img*/
header h1 {
  font-size: 4em;
  color: #ffffff;
}
/*Nav*/
header nav p {
  display: inline;
}
nav p {
  margin-right: 3%;
  font-size: 25px;
  transition: transform 0.3s; 
}
nav p a{
  color:whitesmoke;
  text-decoration: none;
  font-weight: bold;
}
nav p a:visited {
  color:whitesmoke;
}
nav p a:hover{
    font-weight: 400;
    border-right: 2px solid white;
    text-decoration: underline double;
}
.bibliotheque {
  border-right: 2px solid white;
  text-decoration: underline double;
}
.flex-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    box-sizing: content-box;
    background-color: rgb(247, 243, 238);
}
img {
    width: 400px;
    height: 300px;
    border-radius: 8px;
    transition: all 0.5s;
    object-fit: cover;
}
.item:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px  rgb(22, 116, 69);
    opacity: rgb(113, 173, 113);
}
h3 {
    text-align: center;
    font-size: 20px;
}
h2 {
    color:black;
    text-align: center;
}
.item {
    background-color: rgb(22, 116, 69);
    border-radius: 8px;
}
/*footer*/
footer {
    background: #101111ff;
    color: #f4f4f4;
    text-align: center;
    padding: 20px 0;
}
footer img {
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0;
}
footer p {
    margin: 0;
}
@media (max-width: 480px) {
   header h1 {
    font-size: 1.5em;
  }
  #contenu {
    top: 125px;
    
  }
  nav p {
    font-size: 0.8em;
    display: block;
    margin: 10px 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
   header h1 {
    font-size: 2em;
  }
  #contenu {
    top: 125px;
    
  }
  nav p {
    font-size: 0.8em;
    display: block;
    margin: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header h1 {
    font-size: 2.5em;
  }
  #contenu {
    top: 170px;
    
  }
  nav p {
    font-size: 1.5em;
    display: block;
    margin: 10px 0;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {

}

